@page "{id}"
@model ITS.IIOT.WebApp.Pages.Products.DetailsModel
@{
}

<h1>@Model.Product.Name</h1>
<p>Codice: @Model.Product.Code</p>

<a asp-page="/Index"
   class="btn btn-primary">Vai alla lista</a>
